@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Pixelify+Sans&display=swap');

body {
  -webkit-app-region: drag;
  font-family: 'Pixelify Sans';
  color: #000000;
  background-color: #92B387;
  padding: 1rem;
  text-align: center;
}

ul {
  min-height: 5rem;
  padding: 0.1rem;
  font-family: 'Aldrich';
  list-style-type: none;
}

li {
  padding: 1px;
}

.text {
  font-size: 18px;
}

.over-five {
  display: grid;
  grid-template-columns: auto auto;
}

.random-words {
  font-family: 'Aldrich';
  background-color: #4B6944;
  border : solid 0.4rem #294237;
  padding: 1rem;
}

.word-counter {
  display: flex ;
  justify-content: center;
  align-items: center;
}

.tiny-btn {
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 100%;
  background-color: #D68E96;
  color: #FFFFFF;
  margin: 1rem;
  font-size: 24px;
  font-family: 'Pixelify Sans';
  cursor: pointer;
}

.result-btn {
  border: none;
  border-radius: 0.5rem;
  background-color: #D68E96;
  color: #FFFFFF;
  padding: 1rem;
  font-size: 1.5rem;
  font-family: 'Pixelify Sans';
  cursor: pointer;
}

.flower-line {
  display: flex;
  justify-content: space-between;
}

.flower {
  width: 5rem;
}

.goatlamb-pic {
  display: flex;
  justify-content: space-between;
}

#Lamb, #Goat {
  width: 12rem;
  animation: 3s linear infinite bouncing;
}

#Lamb, #Goat:hover {
  cursor: pointer;
}

#titleBar {
  display: flex;
  justify-content: space-between;
  align-items: center ;
  color: white;
  font-size: 24px;
  width: 100%;
  height: 50px;
  padding: 0.2rem;
  background-color: #D68E96;
}

#titleBar img {
    width: 40px;
    margin: 5px;
    cursor: pointer;
}



/* Animations */
@keyframes bouncing {
	20%, 50%, 80% {
    transform: translateY(0);
    opacity: 1;
  }
  0% {
    transform: translateY(-10px);
  }
	40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(-10px);
  }
}